/* color
----------------------------------*/
$linkColor  : #3B8BBA !default;
$bodyColor  : #777 !default;
$titleColor : #4b4b4b !default;
$asideColor : #333 !default;

/* z-index
----------------------------------*/
$zIndexAside : 1000 !default;