
.nav {
    a {
        display: block;
        color: #a8a8a8;
        padding: 0.8em 0;
        &:hover,
        &.active {
            background-color: #303030;
            color: #FAFAFA;
            text-decoration: none;
        }
    }
}