.post-list {
    li {
        padding: 15px 50px;
        &:nth-child(odd) {
            background-color: #f9f9f9;
        }
        h2 {
            font-size: 1.5em;
        }
        a {
            color: #5f5f5f;
            &:hover {
                text-decoration: none;
            }
        }
        .post-meta {
            color: #B3B3B3;
        }
    }
}
.essay {
    padding: 15px 50px;
    p {
        margin: 15px 0;
    }
    .post-meta {
        @include inline-block;
        margin: 15px 0;
        font-size: 80%;
    }
    time {
        padding: 4px 15px;
        background-color: #F3F3F3;
        color: #616161;
        .fa {
            margin-right: 6px;
        }
    }
    .tags {
        margin-left: 10px;
        a {
            margin: 0 1px;
            padding: 4px 8px;
            background-color: #EAF3FD;
            color: #6491C9;
            &:hover {
                text-decoration: none;
            }
        }
    }
    h2 {
        margin: 15px 0;
        padding: 0 0 15px;
        border-bottom: 1px solid #EEE;
    }
}