<div class="aside">
    <div class="user-meta">
        <a href="{{ site.baseurl }}" title="My Lovely Daughter">
            <img src="{{ site.baseurl }}{{ site.images }}/avatar.jpg" alt="My Lovely Daughter"/>
        </a>
        <div class="intro">
            <p>A FrontEnd Developer In YY.INC. <br/>Focus on Sass, jQuery, Seajs, Angularjs, Laravel4.</p>
        </div>
    </div>
    <ul class="nav nav-list">
        <li><a href="{{ site.baseurl }}">Home</a></li>
        <li><a href="{{ site.baseurl }}about/">About</a></li>
    </ul>
</div>