    </div>
    <script src="{{ site.baseurl }}{{ site.data.path.seajs }}" type="text/javascript"></script>
    <script type="text/javascript">
        seajs.config({
            base: "{{ site.baseurl }}{{ site.data.path.js }}",
            alias: {
                "jquery" : "{{ site.data.path.jquery }}",
                "prettify" : "{{ site.data.path.prettify }}",
                "highlight": "{{ site.data.path.highlight }}"
            }
        })
        seajs.use("index");
    </script>
</body>
</html>