/* color
----------------------------------*/
$linkColor      : #4183C4 !default;
$bodyColor      : #555555 !default;
$bodyBgColor    : #ffffff !default;
$titleColor     : #4b4b4b !default;
$asideColor     : #333333 !default;
$codeBgColor    : #F9F2F4 !default;
$codeColor      : #C7254E !default;

/* z-index
----------------------------------*/
$zIndexAside : 1000 !default;